#importantButtons{
  z-index:1;
}

.questionWrap {
  display: flex;
  flex-direction: column;
  position:absolute;
  top:0;
  width: 100%;
}

.upperWrap{
  display: grid;
  grid-template-columns: 10% 90%;
  margin-left:10%;
  margin-right: auto;
}

.upperLeft{
  grid-column: 2;
  margin: 5px;
  margin-bottom: 0;
}
.questionList{
  display: grid;
  flex-direction: column;
  flex:1;
  grid-template-columns: 10% 90%;
  flex-wrap: wrap;
  margin-left:10%;
  margin-right: auto;
}

.qlistLeft{
  display: flex;
  flex-direction: column;
  grid-column: 2;
  top:0;
  margin: 5px;
  padding-right:0%;
  padding-left:0%;
  height: 100%;
  width: 150px;
}
.qlistRight{
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  width:100%;
  height: 100%;
  top:0;
  margin: 5px;
  margin-left: 5%;
  margin-right: 5%;
  padding-right:8%;
  padding-left:8%;
  align-content: center;
}

.scroll{
  height:100%;
  overflow-y:auto;
  position:relative;
}

#themeButton{
  height:3vw;
}


.sideQuestion {
  background-color: white;
  margin: 5px;
  margin-bottom: 20px;
  border-radius: 20px;
  border-color: white;
  padding-right:8%;
  padding-left:8%;
  height: 3vw;
  width: 150px;
  font-size: 16px;
}

.activeQuestion {
  background-color: black;
  color:white;
}

#remove{
  background-color:red;
  border: 1px solid red;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  text-align:  center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left:  10px;
}


.allAnswers {
  display: grid;
  margin: auto;
  padding: auto;
  width: 60%;
  height: 40%;
  grid-template-columns: 45% 45%;
  grid-template-rows: 45% 45%;
  grid-column-gap: 10%;
  grid-row-gap: 10%;
}

.answer0 {
  grid-column: 1;
  grid-row: 1;
}

.answer1 {
  grid-column: 2;
  grid-row: 1;
}

.answer2 {
  grid-column: 1;
  grid-row: 2;
}

.answer3 {
  grid-column: 2;
  grid-row: 2;
}

.allAnswers textarea {
  height: 95%;
  width: 95%;
  resize: none;
  border-radius: 5px;
}

.removeAnswerButton {
  background-color: #d11a2a;
  height: 13px;
  width: 13px;
  margin-left:92%;
  padding:0;
  border: red;
  border-radius: 2px;
  justify-content: flex-start;
}
.removeAnswerButton::after{
    position: relative;
    content: "\d7";
    color: #fff;
    font-size:12pt;
    font-weight:bold;
}


.party .removeAnswerButton::after{
  top:-5px;
}

.school .removeAnswerButton::after{
  top:-5px;
  left:0.5px;
}


.standard .removeAnswerButton::after{
  top:-4.5px;
}

#addButton{
  background-color:lightgrey;
  border: dotted;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  padding: 0px;
  opacity: 0.5;
  margin:0;
  font-size:14pt;
}

.question{
  position:relative;
  /*border-style:double;*/
  margin:0;
  padding:0px;
  width:100%;
  height: 100%;
  overflow-x: auto;
}

header{
  padding-top:1em;
  height:10%;
}

.split {
  height: 100%;
  overflow-x: hidden;
}

.left {
  width: 80%;
  left: 0;
  top:0;
  position:relative;
  justify-content:center;
  margin-right: 10%;
  margin-left: 10%;
  right:0;
  left:0;
}

.right {
  width: 100%;
  position:relative;
  border-left: 3px solid white;
}

.allCreateBtn{
  grid-column: span 2;
  grid-row: 2;
  height: 100%;
  width: 75%;
  border-top: 2px solid white;
  display: grid;
  grid-template-columns: 15% 20% 15%;
  grid-template-rows: 100%;
  place-items: auto center;
  padding-left: 25%;
}

.splitgrid{
  display: grid;
  grid-template-columns: 79vw 18vw;
  grid-template-rows: 70vh 15vh;
  width: 97vw;
  border-top: 3px solid white;
}

.markCorrectButton{
  height: 20%;
  width: 20%;
  margin-left:95%;
  margin-top:15%;
}

.markCorrectButton:hover{
  cursor: pointer;
}

#overView{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    width:90%;
    margin:10%;
}

p{
  margin:auto;
  width:60%;
  text-align: left;
  padding-bottom: 1%;
  padding-top: 3%;
}

.writeQ{
  margin-bottom: 2%;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  height: 10%;
  width: 59%;
  margin-left:;
}

.left h3{
  margin:auto;
  width:60%;
  padding-top: 3%;
}
h3{
  margin-top:2%;
  margin-bottom:0.5em;
}

.warning{
  text-align:center;
}

.warning ol{
  display:inline-block;
}

/* Arrow in helpMessage from https://codepen.io/MaryG/pen/WbvRrz*/

.helpMessage{
  font-size:16pt;
  width: 10px;
  height: 3vw;
  border-radius: 20px;
  margin:5px;
  margin-bottom: 20px;
  margin-left:0;
  padding-right:8%;
  padding-left:8%;
  z-index:0;
  justify-content: center;
}

.positioningHelp{
  margin-top:67%;
  margin-right: 100%;
}

.switchingQuestion{
  position:relative;
}

.help{
  width:20%;
  height:10%;
  font-size: 70%;
  padding:1%;
  background-color:white;
  position:absolute;
  top:3%;
  right:5%;
  color:black;
  border: 2px dotted black;
  border-radius: 5px;
  z-index: 100;
}


.arrow {
  display: inline-block;
  padding: 3px;
}

.rightA {
  border: solid red;
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@media (max-width: 550px) {

  .sideQuestion { font-size: 10px;height: 30%; width:90%; margin-bottom: 20%;}

  #themeButton{height:50%;
              width:90%;}

  #overView{font-size: 11px;}

  .questionWrap {
    display: flex;
    position:relative;
    top:2%;
  }

  .left {
    width: 100%;
    height: 100%;
    left: 0;
    position:relative;
    margin:0;
  }

  .right {
    width: 80%;
    position:relative;
  }

  .splitgrid{
    display: grid;
    grid-template-columns: 72vw 25vw;
    width: 97vw;
  }

  .allAnswers {
    display: grid;
    margin: auto;
    margin-bottom: 15%;
    padding: 0;
    width: 80%;
    height: 80%;
    grid-template-columns: 90%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-gap: 10%;
  }

  .question{
    position:relative;
    margin:0;
    padding:0px;
    padding-bottom: 10px;
    width:100%;
    height: 95%;}

    .allAnswers textarea {
      height: 90%;
      width: 90%;
      resize: none;
      border-radius: 5px;
    }

    .removeAnswerButton {
      background-color: #d11a2a;
      height: 13px;
      width: 13px;
      margin-left:86%;
      padding:0;
      border: red;
      border-radius: 2px;
      justify-content: flex-start;
    }

    .markCorrectButton{
      height: 1em;
      width: 1em;
      margin-left:95%;
      margin-top:8%;
    }

    .writeQ{
      margin-bottom: 5%;
      border-radius: 5px;
      border: 1px solid black;
      outline: none;
      height: 10%;
      width: 80%;
      margin-right:0;
    }

    p{
      margin:auto;
      width:80%;
      text-align: left;
      padding-bottom: 20px;
    }
    .answer0 {
      grid-column: 1;
      grid-row: 1;
    }

    .answer1 {
      grid-column: 1;
      grid-row: 2;
    }

    .answer2 {
      grid-column: 1;
      grid-row: 3;
    }

    .answer3 {
      grid-column: 1;
      grid-row: 4;
    }

    #addButton{
      height: 90%;
      width: 90%;
    }

    .doneBtn{
      margin-bottom: 0;
      margin-top: 5%;
}
.standBtn{
  margin-top: 0;
  margin-bottom: 0;
}

h3{
  width: 100%;
  font-size: 18px;
}
h2{
  margin-left: 5%;
  margin-right: 5%;

  font-size: 25px;
  height: 93%;
}

header{
  padding-left:1em;
  padding-right: 1em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

.helpMessage{
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  font-size:5pt;
  width: 2px;
  height: 2px;
  transform: rotate(135deg);
  margin-right:8em;
  margin-top: 5em;
  margin-bottom:63%;
  z-index:0;
}

.helpMessage::after{
  content: "";
  display: none;
  width: 2px;
  height: 10px;
  background-color: transparent;
  transform: rotate(-45deg) translate(15px, 4px);
}

.notDone{
  border-top: 2px solid red;
  border-left: 2px solid red;
}

.notDone::after{
  background-color: red;
}

.positioningHelp{
  margin-top:70%;
  margin-right: 100%;
}

#remove{
  font-size: 14px;
}

.doneBtn{
  padding-top: 15px;
  padding-bottom: 15px;
}
.allCreateBtn{
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 100%;
  place-items: auto center;
  padding-left: 0;
  width:100%;
}

.upperWrap{
  display: grid;
  grid-template-columns: 1% 100%;
  margin-left:0%;
  margin-right: auto;
}

.upperLeft{
  grid-column: 2;
  margin: 5px;
}
.questionList{
  display: grid;
  flex-direction: column;
  flex:1;
  grid-template-columns: 1% 100%;
  flex-wrap: wrap;
  margin-left:0%;
  margin-right: auto;
}

.qlistLeft{
  display: flex;
  flex-direction: column;
  grid-column: 2;
  top:0;
  margin: 5px;
  padding-right:0%;
  padding-left:0%;
  height: 100%;
  width: 80%;
}
.qlistRight{
  display: none;

}

.infodiv{
  display: none;
}

}
